/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}    

img {
  width: 100%;
  display: block;
}    

/* utilities */
.item {
  position: relative;
}

.image-text {
  position: absolute;
  width: 100%;
  bottom: 40px;
  color: white;
  text-align: right;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.image-text p {
  width: 80%;
  margin-left: auto;
  padding-top: 1rem;
}

.item.active {
  display: block;
}

/* layout */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}    

.slider {
  display: flex;
  width: 80%;
  height: 50%;
}    

.slider-items {
  height: 100%;
  width: 80%;
  position: relative;
}    

.item {
  height: 100%;
  display: none;
}    

.item img,
.thumb-item img {
  height: 100%;
  object-fit: cover;
}    

.thumbnails {
  width: 20%;
  position: relative;
}

.thumbnails-image {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
}

.thumb-item {
  display: block;
  height: calc(100% / 5);
  filter: opacity(.5);
  object-fit: cover;
}

.thumbnails img {
  width: 100%;
}

.thumb-item.active {
  filter: opacity(1);
  transform: scale(1.08);
  z-index: 1;
  border: 2px solid white;
}

.next-up,
.prev-down {
  z-index: 100;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}    

.next-up {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}    

.prev-down {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}       

#replay {
  position: absolute;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

#replay-icon {
  font-size: 6rem;
  display: none;
}

#replay:hover #replay-icon {
  cursor: pointer;
  display: block;
  filter: opacity(.6);
}